---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import meIMG from '/public/MeWide.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About Me" description={SITE_DESCRIPTION} />	
	</head>
	<body>
		<Header/>
		<main>
			<p style="text-align: center;"><Image src={meIMG} alt="" style="width:100%; height:auto;" ></Image></p>
            <div>
                <h1>About Me</h1>
                <p>Equal parts technical and creative, I’m a  cross-discipline game developer.</p>
				<p>I like to think of myself as a self motivated problem solver with a passion for learning and design.
					My training is in game programming, but I have a strong background in illustration and experience with 3D design.
					I am also experienced in technical art, and game design. 
				</p>
            </div>
			<div>
				<h5>Qualifications</h5>
				<p>
					I am senior game programming major at Shawnee State University. I expect to graduate in May 2024
					with a Bachelor of Science in Digital Simulation and Gaming Engineering Technology.
				</p>
				<p>
					I worked a student instructor</b> for one of Shawnee's game programming classes, assisting students with Python programming and vector math. 
				</p>
				<p>
					I also worked as a mentor for the Verizon Innovative Learnign camp. There I coordinated 19 students in learning 3D modeling in Tinkercad,
					VR experience design in CoSpaces, and visual scripting with the BBC Mircrobit.
				</p>
				<p>
					I have experience working on five different game jams, including two submissions for Global Game Jam, and one for Ludem Dare. 
				</p>
				<p>
					These experiences enabled me collaborate well with teams, solve complex technical problems, and hone my creative instinct in innovative, exciting ways.
					Through these opportunites, I have gained proficiency in some import areas:
				</p>
				<ul>
					<li><b>Languages:</b> C, C++, C#, Python, Unreal Blueprints, Python, HTML</li>
					<li><b>Engines:</b> Unreal Engine 5, Unity, Godot</li>
					<li><b>Version Control:</b> Github, Perforce</li>
					<li><b>Editors:</b> Visual Studio, VS Code, Rider</li>
					<li><b>Creative Applications:</b> Photoshop, Procreate, Maya, Blender, OpenToonz</li>
				</ul>
			</div>
			<div>
				<h5>Background</h5>
				<p>
					My creative background is firmly routed in illustration. 
					I've been drawing seriously for as long as I can remember.
					Although I originally planned to go into concept art, 
					I quickly fell in love with the world of programming.
					No I combine my training in code with my history of illustration
					to make creative applicatins that are efficient and effective.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>

