---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectGrid from '../components/ProjectGrid.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<h1 style="margin-top:20px; margin-bottom:20px;">Game Projects</h1>
		<ProjectGrid/>
		<Footer />
	</body>
</html>

<style>
	h1{
		text-align: center;
		padding-top: 0.4em;
	}
</style>