---
import ProjectBox from "./ProjectBox.astro"
---

<div>
    <ProjectBox 
    title="Gnomad" 
    image="/GnomadTN.png" 
    logoIMG="/GnomadLogoTN.png"
    engineIMG="/UnityLogo.png"
    engineLang="C#"
    desc1="Technical art and asset pipelines"
    desc2="test2"
    desc3="test3"
    target="gnomad">
    </ProjectBox>

    <ProjectBox 
    title="Biomorgs" 
    image="/BiomorgsTN.jpg" 
    logoIMG="/BiomorgsLogoTN.png"
    engineIMG="/UnrealLogo.png"
    engineLang="Blueprints"
    desc1="Test"
    desc2="test2"
    desc3="test3"
    target="biomorgs">
    </ProjectBox> 

    <!--
    <ProjectBox 
    title="Zombonk" 
    image="/ZomBonkTN.png" 
    logoIMG="/ZomBonkLogoTN.png"
    engineIMG="/GodotLogo.png"
    engineLang="GD Script"
    desc1="Test"
    desc2="test2"
    desc3="test3"
    target="zombonk">
    </ProjectBox>     -->
    
    <ProjectBox 
    title="Trash Panda Party Pack" 
    image="/TPPPTN.png" 
    engineIMG="/UnityLogo.png"
    desc1="3D Modeling in Blender"
    desc2="Level Creation in Unity"
    desc3="Collaborative Level Design"
    target="tppp">
    </ProjectBox>    
</div>


<style>
div{
	display: grid;
	grid-template-columns: auto auto auto%;
	grid-template-rows: 10em;
	padding: 10px;
	gap: 0.5em;
  }
</style>
