---
import ProjectBox from "./ProjectBox.astro"
---

<div>
  <ProjectBox 
  title="Gnomad" 
  image="/GnomadTN.jpg" 
  logoIMG="/GnomadLogoTN.png"
  engineIMG="/UnityLogo.png"
  engineLang="C#"
  desc1="Technical art and asset pipelines"
  desc2="environment editor system in C# with a visual interface"
  desc3="Illustrate and animate hundreds of props and characters"
  target="gnomad">
  </ProjectBox>

  <ProjectBox 
  title="Biomorgs" 
  image="/BiomorgsTN.jpg" 
  logoIMG="/BiomorgsLogoTN.png"
  engineIMG="/UnrealLogo.png"
  engineLang="Blueprints"
  desc1="RTS systems design for use by enemy AI"
  desc2="Designing and balancing systems interactions"
  desc3="Used built in environment and foliage editors to create 3 playable maps."
  target="biomorgs">
  </ProjectBox> 

    <!--
    <ProjectBox 
    title="Zombonk" 
    image="/ZomBonkTN.jpg" 
    logoIMG="/ZomBonkLogoTN.png"
    engineIMG="/GodotLogo.png"
    engineLang="GD Script"
    desc1="Test"
    desc2="test2"
    desc3="test3"
    target="zombonk">
    </ProjectBox>     -->
    
    <ProjectBox 
    title="TPPP" 
    image="/TPPPTN.jpg" 
    logoIMG="TPPPLogoTN.png"
    engineIMG="/UnityLogo.png"
    engineLang="Blender"
    desc1="3D Modeling in Blender"
    desc2="Level Creation in Unity"
    desc3="Collaborative Level Design"
    target="tppp">
    </ProjectBox>    
  </div>


<style>
div{
  display:grid;
  grid-template-rows: auto  auto ;
  grid-template-columns: 100%;
  justify-content: center;
  gap: 3.5%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:350px;
  }
</style>
